body div{
	/*border: 1px solid #333333;*/
}
/*css/xheader-css*/
body,
h1,
h2,
h3,
dl,
dt,
dd,
ul,
ol,
li,
th,
td,
p,
form,
fieldset,
input,
button,
textarea,
hr{margin:0;padding:0}
a{text-decoration:none}
a:hover{text-decoration:underline}
img { max-width: 100%; }
.hidden{
	display:none;
}
.fleft{
	float:left;
}
.fright{
	float:right;
}

body{
	font: "微软雅黑";
	color: #000000;
}
.header{
	height: 20px;
	width: 100%;
	background-color: #009945;
	color: white;
	margin: 0 auto;
}
#wecome{
	margin-left: 5%;
	line-height: 20px;
}
.dropdown-toggle{
	font-size: 1.2rem;
}
.top-info{
	float: right;
	margin-right: 100px;
}
#wecome a{
	color: white;
	font-size:1.4rem;
}
.top-header{
	margin: 20px 0;
}
.top-header #seo-div{
	margin-top: 10px;
}
#logo-img2{
		display: none;
	}
.search-div input[type="text"]{
	border: 1px solid #009945;
}
.search-div button{
	border: 1px solid #009945;
	background-color: #009945;
	color: #ffffff;
}
.search-div button:hover{
	background-color: #009947;
	color: #ffffff;
}
.search-div button:checked{
	background-color: #009947;
	color: #ffffff;
}
.nav-div{
	border-left: none;
	border-right: none;
	background-color: #ffffff;
}
.nav-div2{
	display: none;
}
.in-nav{
	/*18px*/
	width: 818px;
	/*16px*/
	/*width: 766px;*/
	/*14px*/
	/*width: 714px;*/
	margin: 0 auto;
}
.in-nav a{
	font-size: 18px;
}
.in-nav li a:hover{
	color:#009945;
}
.in-nav li{
	margin: 0 10px;
}
@media (max-width: 991px) {
	#logo-img1{
		display: none;
	}
	#logo-img2{
		display:block;
	}
	.in-nav a{
	font-size: 16px;
	}
	.in-nav{
		/*16px*/
		width: 626px;
	}
	.in-nav li{
		margin: 0;
	}
}
@media (max-width: 768px) {
	.nav-div{
		display: none;
	}
	.nav-div2{
		display: block;
	}
	.nav-div2 button:checked{
		background-color: #009945;
	}
	#in-nav2{
		width: 96%;
		margin: 0 auto;
	}
	#nav-title{
		font-size: 17px;
	}
}	
}



.header{
	height: 20px;
	width: 100%;
	background-color: #009945;
	color: white;
	margin: 0 auto;
}
#wecome{
	margin-left: 5%;
	line-height: 20px;
}
#wecome a{
	color: white;
}
.top-header{
	margin: 20px 0;
}
.top-header #seo-div{
	margin-top: 10px;
}
#logo-img2{
		display: none;
	}
.search-div input[type="text"]{
	border: 1px solid #009945;
}
.search-div button{
	border: 1px solid #009945;
	background-color: #009945;
	color: #ffffff;
}
.search-div button:hover{
	background-color: #009947;
	color: #ffffff;
}
.search-div button:checked{
	background-color: #009947;
	color: #ffffff;
}
.nav-div{
	border-left: none;
	border-right: none;
	background-color: #ffffff;
}
.nav-div2{
	display: none;
}
.in-nav{
	/*18px*/
	width: 818px;
	/*16px*/
	/*width: 766px;*/
	/*14px*/
	/*width: 714px;*/
	margin: 0 auto;
}
.in-nav a{
	font-size: 18px;
}
.in-nav li{
	margin: 0 10px;
}
#main{
	width: 100%;
	margin: 0 auto;
	margin-top: 30px;
}
#section-left{
	width: 680px;
	height: 600px;
	float: left;
	margin-left: 20px;
}
.section-header{
	width: 100%;
	height: 30px;
	border: 1px solid #D8D8D8;
}
.section-header a{
	float: left;
	line-height: 30px;
	font-size: 18px;
	text-decoration: none;
	color: #464646;
}
.fankuai1{
	display: block;
	float: left;
	width: 8px;
	height: 20px;
	margin: 4px 8px 0 8px;
	background-color: #009945;
}
.article{
	width: 678px;
	height: 160px;
	margin: 0 auto;
}
#section-left {
	margin-left: 70px;
}
#section-left article:nth-child(even){
	background-color: #ECECEC;
}


.article-left{
	/*width: 500px;*/
	height: 100px;
	float: left;
}
.tz1{
	margin:15px 0 0 -75px;
}
.tz2{
	margin:15px 0 0 23px;
}
.article-right{
	width: 81px;
	height: 100px;
	margin: 15px 40px 0 20px;
	float: right;
}
.title{
	color:#009945 ;
	font-size: 18px;
}
.ap-info{
	font-size: 12px;
	color: #C2C3C5;
}
.hd-text{
	color: #9E9E9E;
}
.joining{
	color: #ffffff;
	background-color: #009945;
	border: 1px solid #009945;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	width: 80px;
	margin-bottom:70px;
}
.article-right a{
	color: #B3B3B3;
}
.article-right a:hover{
	color: #009945;
}
#section-right{
	width: 300px;
	height: 798px;
	float: right;
	border:1px solid #D5D5D5;
}
.article-r{
	width: 270px;
	height: 250px;
	margin: 0 auto;
	margin-bottom: 10px;
}
.article-header{
	height: 30px;
}
.article-header a{
	float: left;
	line-height: 30px;
	font-size: 16px;
	text-decoration: none;
	color: #009945;
}
.fankuai2{
	display: block;
	float: left;
	width: 8px;
	height: 20px;
	margin: 4px 8px 0 8px;
	background-color: #B9BDBC;
}
#section-left>a{
	display: block;
	width: 100px;
	text-align: center;
	color: #999999;
	margin: 10px auto;
}
#section-left>a:hover{
	color: #009945;
}
.ap{
	height: 64px;
	width: 260px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.ap a{
	color: #999999;
}
.ap-list{
	height: 67px;
	width: 260px;
	background-color: #E2DEDF;
}
.ap-list span{
	float: right;
	width: 50%;
	text-align: center;
	line-height: 64px;
}
.ap-list img{
	float: left;
	width: 50%;
}
#hot-ap span{
	float: left;
}
#hot-ap img{
	float: right;
}
.er{
	width: 210px;
	height: 70px;
	margin: 0 auto;
	margin-top: 10px;
}
.er img{
	float: left;
}
.ap-er-right{
	height: 70px;
	width: 80px;
	float: right;
}
.ap-er-right span{
	text-align: center;
	float: left;
	width: 66px;
	margin-bottom: 15px;
}
.ap-er-right input{
	float: left;
	color: #ffffff;
	background-color: #009945;
	border: 1px solid #009945;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
}
@media (min-width:991px) and (max-width: 1200px) {
	#section-left{
		width:65%;
	}
	.article {
    	width: 100%;
	}
	.article-left{
		width: 70%;
	}
	#section-right{
		width:30%;
	}
	#as-left{
		width: 65%;
	}
	#as-right{
		width: 30%;
	}
	body{font-size:1rem;}
}
@media (max-width: 991px) {
	#logo-img1{
		display: none;
	}
	#logo-img2{
		display:block;
	}
	.in-nav a{
	font-size: 16px;
	}
	.in-nav{
		/*16px*/
		width: 626px;
	}
	.in-nav li{
		margin: 0;
	}
	#section-left{
		float: none;
		margin: 0 auto;
	}
	#section-right{
		display: none;
	}
	#as-right{
		display: none;
	}
    .aside-ap1{
    	padding-left: 100px;
    }	
    .activity1{
    	margin-left: 0px;
    }
    .activity2{
    	padding-left: 200px;
    }
    .re-box1{
    	border: none;
    }
    #as-left{
    	width: 100%;
    }
    #article-info{
    	display: none;
    }
    #aside-story{
    	display: none;
    }
    #title{
    	display: none;
    }
    .header-share-m{
    	margin-left: 50px;
    }
    body{font-size:1.2rem;}
    .col-md-06 img{
    	text-align: center;
    }
    #story-article1{
		padding-left: 100px;
	}
	#share{
		margin-left: 250px;
	}
}
@media (max-width: 768px) {
	.nav-div{
		display: none;
	}
	.nav-div2{
		display: block;
	}
	.nav-div2 button:checked{
		background-color: #009945;
	}
	#in-nav2{
		width: 96%;
		margin: 0 auto;
	}
	#nav-title{
		font-size: 17px;
	}
	#header-story{
		display: none;
	}
	#story-article1{
		padding-left: 40px;
	}
}
/**story**/
.content-wrap{
width: 100%;
margin: 0 auto;
	}
#story-left{
}
.inline{
	border-bottom: 1px solid #E2E2E2;
}
.header-top{
	height: 60px;
	width: 100%;
}
.header-title{
	margin-left: 145px;
	text-align: center;
}
.header-top>h2{
	color: #009944;
}
.header-share{
	float: left;margin-left:100px;margin-top: 15px;
}
.header-share a{
	color: #009944;
}

.content-wrap article{
	padding: 20px 0px 0px 0px;
}
.article-a{
	padding: 10px 0px 0px 30px; 
	font-size: 20px;
}
.p{
	color: #B3B3B3;
}
.article-a a,.article-a a:hover{
	color: #000000;
}
.article-a a{
	text-decoration: none;
}
.article-b{
	margin-top: 20px;
}
#read{
	margin-top: 10px;
	margin-left: -40px;
	display: block;
	width: 80px;
	float: right;
	
}
#read a{
	color: #C0C0C0;
}
#read a:hover{
	color: #009944;
}
/**end-story**/
/**edit-story**/
.atl-add-bg {
  background: url("../img/atl-add-bg.jpg") repeat scroll 0 0 transparent;
  color: #fff;
  height: 237px;
  padding-top: 40px;
  width: 100%;
}
.atl-add-bg h3 {
  font-size: 24px;
  padding:20px 35px 0;
}
.atl-add-bg p {
  line-height: 25px;
  padding: 0 35px;
}
.atl-add-head {
  background: url("../img/atl-add-bg1.png") no-repeat scroll 0 0 transparent;
  height: 170px;
}
.pb-main{
	width: 1050px;
	margin: 0 auto;
	clear: both;
}
.pb-size-big
{
	font-size: 2rem;
	color: #009944;
}
.story-m{
	margin-top: 30px;
}
.input-l{
	width: 500px;
	height: 40px;
	border: 1px solid #E6E6E6;
}
.te-l{
	width:500px; 
	height:auto;
	border: 1px solid #E6E6E6;
	resize: none;
}
/**edit-story**/

/*====================================================
	main post article
====================================================*/
.post {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
.post .post-head {
  text-align: center;
}
.post .post-head .post-title {
  margin: 0;
  font-size: 1.0em;
  line-height: 1.0em;
}
.post .post-head .post-title a {
  color: #303030;
}
.post .post-head .post-title a:hover,
.post .post-head .post-title a:focus {
  text-decoration: none;
}
.post .post-head .post-meta {
  color: #959595;
  margin: 12px 0 0px;
}
.post .post-head .post-meta span {
  margin: 0px 7px;
  white-space: nowrap;
}
.post .featured-media {
  margin-top: 30px;
  overflow: hidden;
}
.post .featured-media img {
  width: 100%;
}
.post .post-content {
  margin: 30px 0;
}
/* post content */
/*====================================================
  main post content
====================================================*/
.post-content {
  font: 400 18px/1.62 "Georgia", "Xin Gothic", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei", sans-serif;
  color: #444443;
}
/* author */
/*====================================================
	about author and comment
====================================================*/
.about-author {
  background: #ffffff;
  padding: 35px;
  margin-bottom: 35px;
}
.about-author .avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.about-author .details {
  margin-left: 114px;
}
.about-author .author {
  font-size: 1.5em;
  margin-bottom: 7px;
}
.about-author .author a:hover {
  text-decoration: none;
}
.about-author .meta-info {
  color: #959595;
  margin-bottom: 7px;
}
.about-author .meta-info span {
  margin-right: 14px;
  white-space: nowrap;
}
.about-author .meta-info span i {
  margin-right: 7px;
}
/* prev and next link */
.prev-next-wrap {
  margin-bottom: 35px;
  text-align: center;
}

/*====================================================
	侧边栏
====================================================*/
#aside-story{
	margin-left: 20px;
}
.main-footer .widget {
  padding: 0px 30px;
}
.widget {
  margin-bottom: 35px;
  font-size: 1.4rem;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #009944;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.widget .tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all 0.2s ease;
       -o-transition: all 0.2s ease;
          transition: all 0.2s ease;
}
.widget .tag-cloud a:hover {
  color: #ffffff;
  background: #009944;
  border: 1px solid #009944;
  text-decoration: none;
}
.widget a{
	color: #000000;
}
.widget big{
	color: #D50000;
}


/* ------ banner-bottom ------ */
.container-run{
	margin-top: 50px;
}
.container-run p{
	margin-top: 10px;
  font-family: 'Lato', sans-serif;
  color: #93999E;
  line-height: 30PX;
   font-size: 16px;
}
.best {
	padding:3.5em 0;
}
figure.float-left {
	float: left;
	margin-right:5%;
}
.best h2 {
	  font-size: 2em;
	  color:#000;
	  padding:0.5em 0;
	  margin:0;
	  font-weight:400;
}
.best h2 span {
	font-weight:700;
}
.best p {
	color: #93999E;
	font-size: 15px;
	font-weight: 200;
	margin-top: 3px;
	line-height: 28px;
}
/* ------ banner-bottom ------ */
/*-- blog --*/
.blog{
padding:20px 0;
margin-top: 30px;

}
.strip{
	margin: 15px 0 0px 0;
}
.blog-info h3{
  margin: 0;
  color: #2b2b2b;
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 18px;
}
.blog-grids{
margin-top:50px;
}
.blog-grid{
border:1px solid #dedede;
border-radius:4px;
}
.blog-grid img{
width:100%;
}
.blog-text{
padding: 20px 20px 25px 20px;
}
.blog-grid a{
text-decoration:none;
font-size:20px;
color:#2b2b2b;
font-family: 'Lato', sans-serif;
font-weight:700;
}
.blog-grid a:hover{
color :#52edc7;
}
.stripa{
background:#dedede;
width:30%;
height:1px;
margin:15px 0;
}
.blog-grid p {
  font-family: 'Lato', sans-serif;
  line-height: 1.8em;
  margin: 0;
  font-size: 16px;
  color: #888b90;
  font-weight: 300;
}
.blog-text-info:nth-child(1),.blog-text-info:nth-child(2),.blog-text-info:nth-child(3){
margin-bottom:30px;
}
.blog-pos p{
color:#fff;
font-size:24px;
margin:0;
text-align:center;
font-weight:700;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
}
.blog-pos p span{
font-size:16px;
display:block;
font-weight:400;
margin: -19px 0 0 0;
}
.blog-text-info{
position:relative;
}
.blog-pos{
  position: absolute;
  top: 30%;
  left: 10%;
  width: 17.5%;
  background: #009944;
  transform: rotate(-46deg);
  -webkit-transform: rotate(-46deg);
  -o-transform: rotate(-46deg);
  -moz-transform: rotate(-46deg);
}
/*-- blog --*/
/**about-b**/
		.Button {
  display: inline-block;
  padding: 20px;
  margin: 0;
  background-color: none;
  background-position: center center;
  background-repeat: no-repeat;
  color: #7a0715;
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  -ms-transition: color 300ms ease, background-color 300ms ease;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  -moz-transition: color 300ms ease, background-color 300ms ease;
  -o-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
}
.Button:hover,
.Button:focus {
  color: #7a0715;
  background: none;
}
.Button.Small {
  padding: 5px 10px;
  font-size: small;
}
.Button.Block {
  padding: 20px 40px;
  width: 500px;
  height: 300px;
}
/* @group Base Flipster Styles */
.flipster {
  display: block;
  margin: 0 auto;
  width: 100%;
  position: relative;
  overflow-x: hidden;
  overflow-y: visible;
}
.flip-items,
.flip-item {
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}
.flip-items {
  width: 100%;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.flip-item {
  position: absolute;
  opacity: 0.99;
  /* Fix for strange clipping behavior on rotated elements in Chrome. */

}
.flip-past,
.flip-future,
.flip-next,
.flip-prev {
  cursor: pointer;
}
.flip-item img {
  display: block;
  width: 100%;
}
/* @end */
/* @group Coverflow Style */
.flipster-coverflow .flip-items {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  position: relative;
  padding-top: 2%;
  padding-bottom: 5%;
}
.flipster-coverflow .flip-item {
  display: block;
  -webkit-transition: all 175ms ease-in-out;
  -moz-transition: all 175ms ease-in-out;
  -o-transition: all 175ms ease-in-out;
  -ms-transition: all 175ms ease-in-out;
  transition: all 175ms ease-in-out;
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -o-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-perspective: 800px;
  -moz-perspective: 800px;
  perspective: 800px;
  position: absolute;
  width: 30%;
}
.flipster-coverflow .flip-content {
  -webkit-transition: all 350ms ease-in-out;
  -moz-transition: all 350ms ease-in-out;
  -o-transition: all 350ms ease-in-out;
  -ms-transition: all 350ms ease-in-out;
  transition: all 350ms ease-in-out;
  -webkit-box-reflect: below 0 -webkit-gradient(linear, left bottom, left top, color-stop(0.05, rgba(255, 255, 255, 0.12)), color-stop(0.2, transparent));
}
.flipster-coverflow .flip-past .flip-content {
  -webkit-transform: rotateY(55deg) scale(0.75);
  -moz-transform: rotateY(55deg) scale(0.75);
  -o-transform: rotateY(55deg) scale(0.75);
  -ms-transform: rotateY(55deg) scale(0.75);
  transform: rotateY(55deg) scale(0.75);
}
.flipster-coverflow .flip-future .flip-content {
  -webkit-transform: rotateY(-55deg) scale(0.75);
  -moz-transform: rotateY(-55deg) scale(0.75);
  -o-transform: rotateY(-55deg) scale(0.75);
  -ms-transform: rotateY(-55deg) scale(0.75);
  transform: rotateY(-55deg) scale(0.75);
}

.flipster-coverflow.no-rotate .flip-past .flip-content {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform:scale(0.75);
  -ms-transform:scale(0.75);
  transform: scale(0.75);
}
.flipster-coverflow.no-rotate .flip-future .flip-content {
  -webkit-transform: scale(0.75);
  -moz-transform: scale(0.75);
  -o-transform: scale(0.75);
  -ms-transform: scale(0.75);
  transform: scale(0.75);
}


.flipster-coverflow .flip-current .flip-content {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flipster-coverflow .flip-hidden {
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
/* @end */
/* @group Flip Items */
.flipster-carousel .flip-items {
  -webkit-perspective: 2000px;
  -moz-perspective: 2000px;
  perspective: 2000px;
}
.flipster-carousel .flip-item {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: all 350ms ease-out;
  -moz-transition: all 350ms ease-out;
  -o-transition: all 350ms ease-out;
  -ms-transition: all 350ms ease-out;
  transition: all 350ms ease-out;
}
.no-csstransforms .flipster-carousel .flip-item {
  -webkit-transition: none;
  -moz-transition: none;
  -o-transition: none;
  -ms-transition: none;
  transition: none;
}
.flipster-carousel .flip-items img {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.flipster-carousel .flip-past {
  -webkit-transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
  -moz-transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
  -o-transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
  -ms-transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
  transform: translateX(-80%) translateZ(0) rotateY(80deg) scale(0.65);
}
.flipster-carousel.no-rotate .flip-past {
  -webkit-transform: translateX(-80%) translateZ(0)  scale(0.65);
  -moz-transform: translateX(-80%) translateZ(0)  scale(0.65);
  -o-transform: translateX(-80%) translateZ(0)  scale(0.65);
  -ms-transform: translateX(-80%) translateZ(0) scale(0.65);
  transform: translateX(-80%) translateZ(0) scale(0.65);
}
.no-csstransforms3d .flipster-carousel .flip-past {
  -webkit-transform: translateX(-56%) scale(0.5);
  -moz-transform: translateX(-56%) scale(0.5);
  -o-transform: translateX(-56%) scale(0.5);
  -ms-transform: translateX(-56%) scale(0.5);
  transform: translateX(-56%) scale(0.5);
}
.no-csstransforms .flipster-carousel .flip-past {
  left: -20%;
  top: 40%;
  width: 50%;
  height: 50%;
}
.flipster-carousel .flip-future {
  -webkit-transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
  -moz-transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
  -o-transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
  -ms-transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
  transform: translateX(80%) translateZ(0) rotateY(-80deg) scale(0.65);
}

.flipster-carousel.no-rotate .flip-future {
  -webkit-transform: translateX(80%) translateZ(0) scale(0.65);
  -moz-transform: translateX(80%) translateZ(0) scale(0.65);
  -o-transform: translateX(80%) translateZ(0) scale(0.65);
  -ms-transform: translateX(80%) translateZ(0) scale(0.65);
  transform: translateX(80%) translateZ(0) scale(0.65);
}

.no-csstransforms3d .flipster-carousel .flip-future {
  -webkit-transform: translateX(56%) scale(0.5);
  -moz-transform: translateX(56%) scale(0.5);
  -o-transform: translateX(56%) scale(0.5);
  -ms-transform: translateX(56%) scale(0.5);
  transform: translateX(56%) scale(0.5);
}
.no-csstransforms .flipster-carousel .flip-future {
  left: 88%;
  top: 40%;
  width: 50%;
  height: 50%;
}
.flipster-carousel .flip-prev {
  -webkit-transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
  -moz-transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
  -o-transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
  -ms-transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
  transform: translateX(-60%) translateZ(0) rotateY(80deg) scale(0.8);
}
.flipster-carousel.no-rotate .flip-prev {
  -webkit-transform: translateX(-60%) translateZ(0) scale(0.8);
  -moz-transform: translateX(-60%) translateZ(0) scale(0.8);
  -o-transform: translateX(-60%) translateZ(0) scale(0.8);
  -ms-transform: translateX(-60%) translateZ(0) scale(0.8);
  transform: translateX(-60%) translateZ(0) scale(0.8);
}
.no-csstransforms3d .flipster-carousel .flip-prev {
  -webkit-transform: translateX(-24%) scale(0.75);
  -moz-transform: translateX(-24%) scale(0.75);
  -o-transform: translateX(-24%) scale(0.75);
  -ms-transform: translateX(-24%) scale(0.75);
  transform: translateX(-24%) scale(0.75);
}
.no-csstransforms .flipster-carousel .flip-prev {
  left: -9%;
  top: 20%;
  width: 75%;
  height: 75%;
}
.flipster-carousel .flip-next {
  -webkit-transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
  -moz-transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
  -o-transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
  -ms-transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
  transform: translateX(60%) translateZ(0) rotateY(-80deg) scale(0.8);
}
.flipster-carousel.no-rotate .flip-next {
  -webkit-transform: translateX(60%) translateZ(0)  scale(0.8);
  -moz-transform: translateX(60%) translateZ(0) scale(0.8);
  -o-transform: translateX(60%) translateZ(0) scale(0.8);
  -ms-transform: translateX(60%) translateZ(0) scale(0.8);
  transform: translateX(60%) translateZ(0) scale(0.8);
}

.no-csstransforms3d .flipster-carousel .flip-next {
  -webkit-transform: translateX(24%) scale(0.75);
  -moz-transform: translateX(24%) scale(0.75);
  -o-transform: translateX(24%) scale(0.75);
  -ms-transform: translateX(24%) scale(0.75);
  transform: translateX(24%) scale(0.75);
}
.no-csstransforms .flipster-carousel .flip-next {
  left: 39%;
  top: 20%;
  width: 75%;
  height: 75%;
}
.flipster-carousel .flip-past,
.flipster-carousel .flip-future {
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
  z-index: 1;
  -webkit-transition-delay: 87.5ms;
  -moz-transition-delay: 87.5ms;
  -o-transition-delay: 87.5ms;
  transition-delay: 87.5ms;
}
.flipster-carousel .flip-prev,
.flipster-carousel .flip-next {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  opacity: 0.8;
  z-index: 2;
  -webkit-transition-delay: 58.333333333333336ms;
  -moz-transition-delay: 58.333333333333336ms;
  -o-transition-delay: 58.333333333333336ms;
  transition-delay: 58.333333333333336ms;
}
.flipster-carousel .flip-current {
  z-index: 999;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transition-delay: 58.333333333333336ms;
  -moz-transition-delay: 58.333333333333336ms;
  -o-transition-delay: 58.333333333333336ms;
  transition-delay: 58.333333333333336ms;
}
.flipster-carousel .flip-hidden {
  visibility: hidden;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: rotateY(0deg) translateX(0) scale(0.5);
  -moz-transform: rotateY(0deg) translateX(0) scale(0.5);
  -o-transform: rotateY(0deg) translateX(0) scale(0.5);
  -ms-transform: rotateY(0deg) translateX(0) scale(0.5);
  transform: rotateY(0deg) translateX(0) scale(0.5);
  -webkit-transition-delay: 116.66666666666667ms;
  -moz-transition-delay: 116.66666666666667ms;
  -o-transition-delay: 116.66666666666667ms;
  transition-delay: 116.66666666666667ms;
}
/* @end */
.no-transition {
  -webkit-transition-duration: 0ms !important;
  -moz-transition-duration: 0ms !important;
  -o-transition-duration: 0ms !important;
  transition-duration: 0ms !important;
}
/* @end */

/* Custom Flipster Styles */
.flipster {
  padding-bottom: 50px;
  padding-top: 20px;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.hide {
  display: none;
}
.show {
  display: block;
}
.invisible {
  visibility: hidden;
}
.affix {
  position: fixed;
}