<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="css/bootstrap.css" />
		<link rel="stylesheet" href="css/header&nav&footer.css" />
		<link rel="stylesheet" href="css/style-index.css" />
		<script type="text/javascript" src="js/jquery-3.1.1.min.js" ></script>
		<script type="text/javascript" src="js/bootstrap.min.js" ></script>
		<title></title>
	</head>
	<style>
		html{background-image: url(img/back.png);}
	</style>
	<body>
		<div class="container">
		<header>		
			<div class="container">
			<div class="header">	
			<div class="header-para">
				<p><span>用户名</span></p>	
			</div>	
			<ul class="header-in">
				<li><a href="#"><img src="img/u105.png">我的账户</a></li>
				<li><a href="#"><img src="img/u101.png">愿望清单</a></li>
				<li><a href="#"><img src="img/u103.png">华软跑族首页</a></li>
			</ul>
		</div>
		<div class="header-top">
		<div class="logo"><img src="img/加宽版本.png"></div>
				<div class="search-head">
        		<form class="navbar-form navbar-left" role="search">
            		<div class="form-header-group">
                		<input type="text" class="text">
            		</div>
       			 </form>
    		</div>
		</div></div>
		</header>
		
		<nav>
			<div class="container">
			<div class="top-nav1">
			<ul>
				<li><a href="#">首页</a></li>
				<li><a href="#">降降降</a></li>
				<li><a href="#"><img src="img/u97.png"></a></li>
				<li><a href="#">我的二货</a></li>
				<li><a href="#" class="nav-active">发布二货</a></li>
			</ul>
			</div>
			</div>
		</nav>
		
		<div class="container">
		<nav class="navbar navbar-default" role="navigation">  
   		 <div class="container-fluid">  
        <div class="navbar-header">  
            <button type="button" class="navbar-toggle"   
                    data-toggle="collapse"   
                    data-target=".navbar-ex1-collapse">  
                <span class="sr-only">二货市场</span>  
                <span class="icon-bar"></span>  
                <span class="icon-bar"></span>  
                <span class="icon-bar"></span>  
            </button>  
            <a class="navbar-brand" href="#">二货市场</a>  
        </div>  
       		 <div class="collapse navbar-collapse navbar-ex1-collapse">  
           			<ul class="nav navbar-nav navbar-right">  
                		<li><a href="# ">首页</a></li>  
               			<li><a href="# ">降降降</a></li>  
                		<li><a href="#">我的二货</a></li>  
                		<li><a href="#">发布二货</a></li>  
            		</ul>  
       		 </div>  
  		  </div>  
		</nav> </div>
		
		<div class="col-md-9 index-section">
				<div class="container">
				<img class="img-responsive banner" src="img/banner1.jpg">
				<div class="shop"><h4>二货市场<br>精明之选</h4></div>
		
		</div>
		
			<div class="hotgoods">
		<h3>热门货品</h3>
				<div class="col-md-4 show">
					<div class="hotgoods-detailed">
						<a href="#"><img class="img-responsive" src="img/首页商品.jpg"></a>
						<div class="cutfive"><h6>-50%</h6></div>
						<div class="pre">
							<p>弹力绳健身器材家用减肚子拉力绳（9成新）</p>
							<big>转卖价：60元</big>
							<small>广东广州</small>
							<div class="clearfix"> </div>
				</div></div></div>
				
								<div class="col-md-4 show">
					<div class="hotgoods-detailed">
						<a href="#"><img class="img-responsive" src="img/首页商品.jpg"></a>
						<div class="cutfive"><h6>-50%</h6></div>
						<div class="pre">
							<p>弹力绳健身器材家用减肚子拉力绳（9成新）</p>
							<big>转卖价：60元</big>
							<small>广东广州</small>
							<div class="clearfix"> </div>
				</div></div></div>
				
								<div class="col-md-4 show">
					<div class="hotgoods-detailed">
						<a href="#"><img class="img-responsive" src="img/首页商品.jpg"></a>
						<div class="cutfive"><h6>-50%</h6></div>
						<div class="pre">
							<p>弹力绳健身器材家用减肚子拉力绳（9成新）</p>
							<big>转卖价：60元</big>
							<small>广东广州</small>
							<div class="clearfix"> </div>
				</div></div></div>
				
								<div class="col-md-4 show">
					<div class="hotgoods-detailed">
						<a href="#"><img class="img-responsive" src="img/首页商品.jpg"></a>
						<div class="cutfive"><h6>-50%</h6></div>
						<div class="pre">
							<p>弹力绳健身器材家用减肚子拉力绳（9成新）</p>
							<big>转卖价：60元</big>
							<small>广东广州</small>
							<div class="clearfix"> </div>
				</div></div></div>
				
								<div class="col-md-4 show">
					<div class="hotgoods-detailed">
						<a href="#"><img class="img-responsive" src="img/首页商品.jpg"></a>
						<div class="cutfive"><h6>-50%</h6></div>
						<div class="pre">
							<p>弹力绳健身器材家用减肚子拉力绳（9成新）</p>
							<big>转卖价：60元</big>
							<small>广东广州</small>
							<div class="clearfix"> </div>
				</div></div></div>
				
								<div class="col-md-4 show">
					<div class="hotgoods-detailed">
						<a href="#"><img class="img-responsive" src="img/首页商品.jpg"></a>
						<div class="cutfive"><h6>-50%</h6></div>
						<div class="pre">
							<p>弹力绳健身器材家用减肚子拉力绳（9成新）</p>
							<big>转卖价：60元</big>
							<small>广东广州</small>
							<div class="clearfix"> </div>
				</div></div></div>
					<div class="viewmore">
					<button>查看更多</button></div>
					
				</div></div>
		
			<div class="index-aside col-md-3">
					<button class="fun">
						<div class="fun-text">
						<h5>一键转卖</h5>
						<p>转卖已买到的宝贝</p>
					</div></button>
					
					<button class="fun">
						<div class="fun-text">
						<h5>发布闲置</h5>
						<p>闲置换钱 快速出手</p>
					</div></button>
					

				<div class="main-title">
					<h4>商品分类</h4>
							<ul class="place">
								<li class="sort">商品主题</li>
							</ul>
							<ul class="place">
								<li class="sort">价格</li>
							</ul>
							<ul class="place">
								<li class="sort">新旧程度</li>
							</ul>
							<ul class="place">
								<li class="sort">降价幅度</li>
							</ul>
							<ul class="place">
								<li class="sort">货品所在地</li>
							</ul>
			</div>
			
			<div class="main-title">
					<h4>最新发布</h4>
					<div class="news-release">
						<div class="news-img">
							<a href="#"><img src="img/bag.jpg"></a>
						</div>
						<div class="news-in">
							<h6><a href="#">新轻便运动鞋女复古慢跑步鞋</a></h6>
							<p  class="news-in-price">价格：RMB 80  (8成新) </p>
							<p>商品所在地：广州</p>
					</div>
					<div class="clearfix"> </div></div>
						
					<div class="news-release">
						<div class="news-img">
							<a href="#"><img src="img/bag.jpg"></a>
						</div>
						<div class="news-in">
							<h6><a href="#">新轻便运动鞋女复古慢跑步鞋</a></h6>
							<p class="news-in-price">价格：RMB 80  (8成新) </p>
							<p>商品所在地：广州</p>
					</div>
					<div class="clearfix"> </div></div>
						
					<div class="news-release">
						<div class="news-img">
							<a href="#"><img src="img/bag.jpg"></a>
						</div>
						<div class="news-in">
							<h6><a href="#">新轻便运动鞋女复古慢跑步鞋</a></h6>
							<p  class="news-in-price">价格：RMB 80  (8成新) </p>
							<p>商品所在地：广州</p>
					</div>
					<div class="clearfix"> </div></div>
						
					<div class="news-release">
						<div class="news-img">
							<a href="#"><img src="img/bag.jpg"></a>
						</div>
						<div class="news-in">
							<h6><a href="#">新轻便运动鞋女复古慢跑步鞋</a></h6>
							<p class="news-in-price">价格：RMB 80  (8成新) </p>
							<p>商品所在地：广州</p>
						</div>
						<div class="clearfix"> </div></div>
			</div>
			</div>
		
			<footer>
				<div class="fot1">
					<img src="img/底 华软logo.png">
					<img src="img/footer 华软跑族.png">
				</div>
				
				<div class="fot2">
					<div id="hrxy" class="img-responsive"><img src="img/底 华软logo.png"></div>
					<div id="hrpz" class="img-responsive"><img src="img/footer 华软跑族.png"></div>
				</div>
				<div class="fot-text1">
					<p>地址：广东省广州市从化区经济开发区高技术产业园广从南路548号 | 电话：020－87818918 传真：87818020 邮编：510990</p>
				</div>
				<div class="fot-text2">
					<p>地址：广东省广州市从化区经济开发区高技术产业园广从南路548号<br>电话：020－87818918 传真：87818020 邮编：510990</p>
				</div>
			</footer>
			
			</div>
			</body>
			</html>